# 1-1.3 Intro Python
##  Getting started with Python in Jupyter Notebooks
- Python 3 in Jupyter notebooks
- `print()`
- comments  
- **data types basics**
- **variables**  
- addition with Strings and Integers
- Errors  
- character art  

-----


><font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>
- use Python 3 in Jupyter notebooks
- write working code using `print()` and `#` comments  
- **write working code using `type()` and variables**
- combine Strings using string addition (+)
- add numbers in code (+)
- troubleshoot errors
- create character art

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## using python `type()` function
**`type()`** returns the data type of python objects

[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/b8fbc662-a42e-4a4a-8cfc-564cb240576e/Unit1_Section1.3-Type.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/b8fbc662-a42e-4a4a-8cfc-564cb240576e/Unit1_Section1.3-Type.vtt","srclang":"en","kind":"subtitles","label":"english"}])

### `str`, `int`, `float`  
#### what does using `type()` reveal?
- **`str`**: when **type()** returns **str** that means it has evaluated a **string** characters (numbers, letters, punctuation...) in quotes 
- **`int`**: when **type()** returns **int** that means it has evaluated an **Integer** (+/- whole numbers) 
- **`float`**: when **type()** returns **`float`** that means it has evaluated decimal numbers (e.g. 3.33, 0.01, 9.9999 and 3.0), ...more later in the course

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>
- read and run the code for each sample

In [1]:
# [ ] read and run the code
type("Hello World!")

str

In [2]:
type(501)

int

In [3]:
type(8.33333)

float

In [4]:
student_name = "Colette Browning"
type(student_name)

str

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 1: multi-part</B></font> 
## Using `type()`
- complete the "identify data types" tasks by assigning  values to the variable&nbsp; **`bucket`** and using **`type()`**

In [5]:
# [ ] show the type after assigning bucket = a whole number value such as 16 

bucket = 4
type (bucket)

int

In [6]:
# [ ] show  the type after assigning bucket = a word in "double quotes"

bucket = "Steph Curry"
type(bucket)

str

In [1]:
# [ ] display the type of 'single quoting' (use single quotes) 

bucket = 'Steph Curry'
type(bucket)

str

In [2]:
# [ ] display the type of "double quoting" (use double quotes)

type("double quoting")

str

In [3]:
# [ ] display the type of "12" (use quotes)


type("12")

str

In [4]:
# [ ] display the type of 12 (no quotes)

type(12)

int

In [7]:
# [ ] display the type of -12 (no quotes)

type(-12)

int

In [8]:
# [ ] display the type of 12.0 (no quotes)

type(12.0)

float

In [9]:
# [ ] display the type of 1.55

type(1.55)

float

In [10]:
# [ ] find the type of the type(3) statement (no quotes) - just for fun

type(3)

int

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; Â© 2017 Microsoft